* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Inter', sans-serif;
}


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}


a {
    text-decoration: none;
}


.naivigation-menu {
    width: fit-content;
    display: block;
    padding: 32px 0;
    margin: 0 auto;
    gap: 72px;
}


.naivigation-item {
    display: inline-block;
    margin: 0 25px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;
}


.link-color {
    color: #000;
}


.main-image {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}


.content-div {
    display: flex;
    padding: 88px 0;
    flex-direction: column;
    align-items: center;
}


h2 {
    color: #000;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 135%
}


.text-div {
    width: 856px;
    display: flex;
    padding: 40px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}


.paragraph {
    color: #000;
    font-size: 21px;
    font-weight: 500;
    line-height: 150%;
}

.color-text {
    color: #04959E;
    font-size: 21px;
    font-weight: 600;
    line-height: 150%;
}


.last-list {
    color: #161616;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}


.button-div {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.bot-button {
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    background: #04959E;
}


button {
    border: none;
    color: #FFFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;
}

.bot-line {
    height: 1px;
    align-self: stretch;
    background-color: black;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.bot-text {
    display: flex;
    width: 856px;
    padding: 16px 0px;
    justify-content: space-between;
    align-items: flex-start;
}

.last-text {
    color: #161616;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    width: 856px;
}